@model IEnumerable<DominionCardTracker.Models.Tables.ModifierType>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="span12">
        <h2>Modifier Type List</h2>
        @if (TempData.ContainsKey("Message"))
        {
            <p class="text-success">@TempData["Message"].ToString()</p>
        }
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Modifier Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifierTypeName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ModifierTypeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ModifierTypeID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

